docker {
    enabled = true
}

// NUMERO MAXIMO DE CPUS

executor.cpus = 20

params {

	// PIPELINE EXECUTION OPTIONS

    // ASSEMBLY AVAIBLE OPTIONS: ["coassembly", "assembly"]

    assembly_mode = "assembly"

    // BOOLEAN OPTIONS FOR EXTRA PROCESS: "true, false"

    help = false
    single_assembly = false
    arg_bin_clustering = false
    read_arg_prediction = false
    contig_level_metacerberus = false
    contig_tax_and_arg = false

//    taxonomic_profiler = "kraken2"   // Opciones: kraken2, sourmash *** TODAVIA NO PERO PRONTO

    // FILTRO DE MINIMA CANTIDAD DE LECTURAS POR MUESTRA

    min_read_sample = 10000000

	// DATABASES

    human_db = '/mds_data/dbs/human_ref/chm13.draft_v1.0_plusY/'              // BOWTIE_HUMAN
    phyX_db = '/mds_data/dbs/phiX_ref/'                                       // BOWTIE_PHYX
    k2_gtdb_db = '/mds_data/dbs/gtdb/gtdb_release207_kraken2/kraken2'         // KRAKEN2
    ncbi_nodes_dmp = '/mds_data/dbs/autometa_ncbi_db/nodes.dmp'               // BLOBTOOLS
    ncbi_names_dmp = '/mds_data/dbs/autometa_ncbi_db/names.dmp'               // BLOBTOOLS
    metawrap_db = '/mds_data/dbs/checkm_db/'                                  // METAWRAP
    nt_db = '/mds_data/dbs/blast_db_nt'                                       // CONTIG_TAX_ANNOTATION
    deeparg_db = '/mds_data/dbs/deeparg'                                      // DEEPARG
    karga_db = '/mds_data/dbs/karga_db/megares_database_v3.00.fasta'          // KARGA
    ncbi_db = '/mds_data/dbs/autometa_ncbi_db'                                // AUTOMETA
    checkm_db = '/mds_data/dbs/checkm2/CheckM2_database/uniref100.KO.1.dmnd'  // CHECKM2
    gtdbtk_db = '/mds_data/dbs/gtdb/release214'                               // GTDB-TK

	// SOFTWARE OPTIONS

    // FASTP

    fastp_n_base_limit = 5 
    fastp_unqualified_percent_limit = 10 
    fastp_qualified_quality_phred = 20 
    fastp_cut_front_window_size = 4 
    fastp_cut_front_mean_quality = 20 
    fastp_cut_right_window_size = 4 
    fastp_cut_right_mean_quality = 20 

	// KRAKEN

    kraken_confidence = 0.5 

	// BRACKEN

    bracken_read_len = 150
    bracken_tax_level = "S"
 
	// BOWTIE

    bowtie_ma = 2 
    bowtie_mp = '6,2' 
    bowtie_score_min = 'G,15,6' 
    bowtie_k = 1 
    bowtie_N = 1 
    bowtie_L = 20 
    bowtie_R = 2 
    bowtie_i = 'S,1,0.75'

	// BBMAP

    bbmap_lenght = 1000

	// METAWRAP

    metawrap_completeness = 50 
    metawrap_contamination = 10

	// MMSEQS2

    mmseqs_start_sens = 2
    mmseqs_s = 7 
    mmseqs_sens_steps = 3
    mmseqs_min_seq_id = 0.8
    mmseqs_c = 0.7
    mmseqs_cov_mode = 2
    mmseqs_e = 1e-20
    mmseqs_format_mode = 4 
    mmseqs_alignment_mode = 3
    mmseqs_max_seqs = 10000
    mmseqs_format_output = "empty,query,target,evalue,pident,qcov,tcov,tseq"

        // DEEPARG

    deeparg_min_prob = 0.8
    deeparg_arg_alignment_identity = 50
    deeparg_arg_alignment_evalue = "1e-10"
    deeparg_arg_alignment_overlap = 0.8
    deeparg_arg_num_alignments_per_entry = 1000
    deeparg_model_version = 'v2'

	// METACERBERUS
        // HMM OPTIONS [KOFam_all, KOFam_eukaryote, KOFam_prokaryote, COG, VOG, PHROG, CAZy]

    metacerberus_hmm = '"KOFam_all, COG, VOG, PHROG, CAZy"'
    metacerberus_minscore = 25
    metacerberus_evalue = 1e-09

	// SEMIBIN 
        // MODELS = [human_gut, dog_gut, ocean, soil, cat_gut, human_oral, mouse_gut, pig_gut, built_environment, wastewater, chicken_caecum, global]

    semibin_env_model = "human_gut" 

	// READS_REPORT

    bowtie_db_used = "phiX, human"

	// TAX_REPORT

    kraken_db_used = "gtdb"

}

process {

    withLabel:process_low {
        cpus   = { 2 }
    }

    withLabel:process_medium {
        cpus   = { 5 }
    }

    withLabel:process_high {
        cpus   = { 10 }
    }
}

includeConfig 'config/modules.config'
