docker {
    enabled = true
}

// NUMERO MAXIMO DE CPUS

executor.cpus = 128

params {

	// PIPELINE EXECUTION OPTIONS

    // ASSEMBLY AVAIBLE OPTIONS: ["coassembly", "assembly"]

    assembly_mode = "assembly"

    // BOOLEAN OPTIONS FOR EXTRA PROCESS: "true, false"

    help = false

    single_assembly = false

    read_arg_prediction = true

    contig_level_metacerberus = false

    contig_tax_and_arg = true

    include_binning = true

    arg_bin_clustering = false

    // FILTRO DE MINIMA CANTIDAD DE LECTURAS POR MUESTRA

    min_read_sample = 10000000

	// DATABASES

    human_db = '/scr/DB/chm13.draft_v1.0_plusY/'                              // BOWTIE_HUMAN

    phyX_db = '/data/ffuentes/DB/phiX_ref/'                                   // BOWTIE_PHYX

    k2_gtdb_db = '/data/ffuentes/DB/kraken_gtdb/'                             // KRAKEN2

    ncbi_nodes_dmp = '/scr/DB/taxdump/nodes.dmp'                              // BLOBTOOLS

    ncbi_names_dmp = '/scr/DB/taxdump/names.dmp'                              // BLOBTOOLS

    metawrap_db = '/scr/DB/CheckM_Data_2015/'                                 // METAWRAP

    nt_db = '/data/ffuentes/DB/blast_db_nt'                                                     // CONTIG_TAX_ANNOTATION

    deeparg_db = '/data/ffuentes/DB/Deeparg/'                                 // DEEPARG

    karga_db = '/data/ffuentes/DB/megares_database_v3.00.fasta'               // KARGA

    ncbi_db = '/scr/DB/Autometa'                                              // AUTOMETA

    checkm_db = '/data/ffuentes/DB/CheckM2_database/uniref100.KO.1.dmnd'      // CHECKM2

    gtdbtk_db = '/data/ffuentes/DB/release220'                                // GTDB-TK

	// SOFTWARE OPTIONS

    // FASTP

    fastp_n_base_limit = 5 
    fastp_unqualified_percent_limit = 10 
    fastp_qualified_quality_phred = 20 
    fastp_cut_front_window_size = 4 
    fastp_cut_front_mean_quality = 20 
    fastp_cut_right_window_size = 4 
    fastp_cut_right_mean_quality = 20 

	// KRAKEN

    kraken_confidence = 0.5 

	// BRACKEN

    bracken_read_len = 150
    bracken_tax_level = "S"
 
	// BOWTIE

    bowtie_ma = 2 
    bowtie_mp = '6,2' 
    bowtie_score_min = 'G,15,6' 
    bowtie_k = 1 
    bowtie_N = 1 
    bowtie_L = 20 
    bowtie_R = 2 
    bowtie_i = 'S,1,0.75'

	// BBMAP

    bbmap_lenght = 1000

	// METAWRAP

    metawrap_completeness = 50 
    metawrap_contamination = 10

	// MMSEQS2

    mmseqs_start_sens = 2
    mmseqs_s = 7 
    mmseqs_sens_steps = 3
    mmseqs_min_seq_id = 0.8
    mmseqs_c = 0.7
    mmseqs_cov_mode = 2
    mmseqs_e = 1e-20
    mmseqs_format_mode = 4 
    mmseqs_alignment_mode = 3
    mmseqs_max_seqs = 10000
    mmseqs_format_output = "empty,query,target,evalue,pident,qcov,tcov,tseq"

        // DEEPARG

    deeparg_min_prob = 0.8
    deeparg_arg_alignment_identity = 50
    deeparg_arg_alignment_evalue = "1e-10"
    deeparg_arg_alignment_overlap = 0.8
    deeparg_arg_num_alignments_per_entry = 1000
    deeparg_model_version = 'v2'

	// METACERBERUS
        // HMM OPTIONS [KOFam_all, KOFam_eukaryote, KOFam_prokaryote, COG, VOG, PHROG, CAZy]

    metacerberus_hmm = '"KOFam_all, COG, VOG, PHROG, CAZy"'
    metacerberus_minscore = 25
    metacerberus_evalue = 1e-09

	// SEMIBIN 
        // MODELS = [human_gut, dog_gut, ocean, soil, cat_gut, human_oral, mouse_gut, pig_gut, built_environment, wastewater, chicken_caecum, global]

    semibin_env_model = "human_gut" 

        // VAMB

    vamb_min_fasta = 200000

	// READS_REPORT

    bowtie_db_used = "phiX, human"

	// TAX_REPORT

    kraken_db_used = "gtdb"

}

process {

    withLabel:process_low {
        cpus   = { 4 }
        errorStrategy = { 'retry' }
        maxRetries = { 5 }
    }

    withLabel:process_medium {
        cpus   = { 8 }
        errorStrategy = { 'retry' }
        maxRetries = { 5 }
    }

    withLabel:process_high {
        cpus   = { 12 }
        errorStrategy = { 'retry' }
        maxRetries = { 5 }
    }
}

includeConfig '/data/ffuentes/BugBuster/config/modules.config'
