/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-test Configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuration for nf-test module testing framework
    https://www.nf-test.com/

    Run tests with: nf-test test
----------------------------------------------------------------------------------------
*/

config {
    // Location of test files
    testsDir "tests"
    
    // Working directory for tests
    workDir ".nf-test"
    
    // Config file to use for tests
    configFile "nextflow.config"
    
    // Profile to use for tests
    profile "docker"
    
    // Plugins
    plugins {
        load "nf-validation@1.1.3"
    }
}
