params {
    bowtie_ref_host_index {
	'human' {
	    title = "chm13 plusY"
	    file = [ "https://genome-idx.s3.amazonaws.com/bt/chm13.draft_v1.0_plusY.zip" ]
	    dbversion = "chm13 draft_v1.0 plusY (https://doi.org/10.1126/science.abj6987)"
	    fmtscript = "bowtie_index_reformat.sh"
	}
    }
    sourmash_ref_db {
	'gtdb_220_k31' {
            title = "GTDB reps k31 release 220"
            file = [ "https://farm.cse.ucdavis.edu/~ctbrown/sourmash-db/gtdb-rs220/gtdb-reps-rs220-k31.zip", "https://farm.cse.ucdavis.edu/~ctbrown/sourmash-db/gtdb-rs220/gtdb-rs220.lineages.reps.csv" ]
            dbversion = "GTDB release 220 (https://doi.org/10.1093/nar/gkab776)"
            fmtscript = "sourmash_db_reformat.sh"
	}
    }
    kraken_ref_db {
	'gtdb_220' {
            title = "GTDB release 220"
            file = [ "https://genome-idx.s3.amazonaws.com/kraken/k2_gtdb_genome_reps_20241109.tar.gz" ]
            dbversion = "Megares v3.0 (https://doi.org/10.1093/nar/gkac1047)"
            fmtscript = "kraken_db_reformat.sh"
	}
        'standard-8' {
            title = "Standard Kraken2 DB capped at 8GB"
            file = [ "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_08gb_20250402.tar.gz" ]
            dbversion = "Standard 8GB (https://benlangmead.github.io/aws-indexes/k2)"
            fmtscript = "kraken_db_reformat.sh"
        }
    }
    karga_ref_db {
        'megares' {
            title = "Megares v3.0"
            file = [ "https://www.meglab.org/downloads/megares_v3.00/megares_database_v3.00.fasta" ]
            dbversion = "Megares v3.0 (https://doi.org/10.1093/nar/gkac1047)"
        }
    }
    kargva_ref_db {
        'kargva' {
            title = "KARGVA database v5"
            file = [ "https://raw.githubusercontent.com/DataIntellSystLab/KARGVA/main/kargva_db_v5.fasta" ]
            dbversion = "KARGVA v5 (https://doi.org/10.3389/fmicb.2023.1060891)"
        }
    }
    blast_ref_db {
	'nt' {
            title = "Nucleotide NCBI Blast database"
            url = [ "https://ftp.ncbi.nlm.nih.gov/blast/db" ]
            dbversion = "Nucleotide DB actualiced at time from (https://www.nlm.nih.gov/ncbi/workshops/2023-08_BLAST_evol/databases.html)"
            fmtscript = "blast_nt_reformat.sh"
	}	
    }
    taxonomy_files {
	'ncbi' {
            title = "Taxonomy from NCBI"
            url = [ "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz" ]
            dbversion = "Taxonomy files actualiced at time from (https://ftp.ncbi.nlm.nih.gov/pub/taxonomy)"
            fmtscript = "tax_files_reformat.sh"
	}
    }
}
