params {
    karga {
        'megares' {
            title = "Megares v3.0"
            file = [ "https://www.meglab.org/downloads/megares_v3.00/megares_database_v3.00.fasta" ]
            dbversion = "Megares v3.0 (https://doi.org/10.1093/nar/gkac1047)"
        }
    }
    kargva {
        'kargva' {
            title = "KARGVA database v5"
            file = [ "https://raw.githubusercontent.com/DataIntellSystLab/KARGVA/main/kargva_db_v5.fasta" ]
            dbversion = "KARGVA v5 (https://doi.org/10.3389/fmicb.2023.1060891)"
        }
    }
}
