/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: FASTP {
        ext.args = [
            "--unqualified_percent_limit ${params.fastp_unqualified_percent_limit}",
            "--cut_front",
            "--cut_front_window_size ${params.fastp_cut_front_window_size}",
            "--cut_front_mean_quality ${params.fastp_cut_front_mean_quality}",
            "--cut_right",
            "--cut_right_window_size ${params.fastp_cut_right_window_size}",
            "--cut_right_mean_quality ${params.fastp_cut_right_mean_quality}",
            "--detect_adapter_for_pe",
            "--n_base_limit ${params.fastp_n_base_limit}",
            "--trim_poly_g"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.output}/workflow/${meta.id}/fastp" },
            pattern: "*fastp.fastq.gz"
        ]
    }

    withName: KRAKEN2 {
        ext.args = [
            "--confidence ${params.kraken_confidence}"
        ].join(' ').trim()
    }

    withName: BOWTIE2 {
        ext.args = [
            "--local",
            "--ma ${params.bowtie_ma}",
            "--mp ${params.bowtie_mp}",
            "--score-min ${params.bowtie_score_min}",
            "-k ${params.bowtie_k}",
            "-N ${params.bowtie_N}",
            "-L ${params.bowtie_L}",
            "-R ${params.bowtie_R}",
            "-i ${params.bowtie_i}"
        ].join(' ').trim()
    }

    withName: MMSEQS2 {
        ext.args = [
            "--start-sens ${params.mmseqs_start_sens}",
            "-s ${params.mmseqs_s}",
            "--sens-steps ${params.mmseqs_sens_steps}",
            "--min-seq-id ${params.mmseqs_min_seq_id}",
            "-c ${params.mmseqs_c}",
            "--cov-mode ${params.mmseqs_cov_mode}",
            "-e ${params.mmseqs_e}",
            "--format-mode ${params.mmseqs_format_mode}",
            "--alignment-mode ${params.mmseqs_alignment_mode}",
            "--max-seqs ${params.mmseqs_max_seqs}",
            "--format-output ${params.mmseqs_format_output}"
        ].join(' ').trim()
    }

    withName: METACERBERUS_READS {
        ext.args = [
            "--hmm ${params.metacerberus_hmm}",
            "--minscore ${params.metacerberus_minscore}",
            "--evalue ${params.metacerberus_evalue}"
        ].join(' ').trim()
    }

    withName: METACERBERUS_CONTIGS {
        ext.args = [
            "--hmm ${params.metacerberus_hmm}",
            "--minscore ${params.metacerberus_minscore}",
            "--evalue ${params.metacerberus_evalue}"
        ].join(' ').trim()
    }
}
