/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: FASTP {
        ext.args = [
            "--unqualified_percent_limit ${params.fastp_unqualified_percent_limit}",
            "--cut_front",
            "--cut_front_window_size ${params.fastp_cut_front_window_size}",
            "--cut_front_mean_quality ${params.fastp_cut_front_mean_quality}",
            "--cut_right",
            "--cut_right_window_size ${params.fastp_cut_right_window_size}",
            "--cut_right_mean_quality ${params.fastp_cut_right_mean_quality}",
            "--detect_adapter_for_pe",
            "--n_base_limit ${params.fastp_n_base_limit}",
            "--trim_poly_g"
        ].join(' ').trim()
    }

    withName: KRAKEN2 {
        ext.args = [
            "--confidence ${params.kraken_confidence}"
        ].join(' ').trim()
    }

    withName: BOWTIE2 {
        ext.args = [
            "--local",
            "--ma ${params.bowtie_ma}",
            "--mp ${params.bowtie_mp}",
            "--score-min ${params.bowtie_score_min}",
            "-k ${params.bowtie_k}",
            "-N ${params.bowtie_N}",
            "-L ${params.bowtie_L}",
            "-R ${params.bowtie_R}",
            "-i ${params.bowtie_i}"
        ].join(' ').trim()
    }

    withName: METACERBERUS_CONTIGS {
        ext.args = [
            "--hmm ${params.metacerberus_hmm}",
            "--minscore ${params.metacerberus_minscore}",
            "--evalue ${params.metacerberus_evalue}"
        ].join(' ').trim()
    }

    withName: DEEPARG_BINS {
        ext.args = [
            "--min-prob ${params.deeparg_min_prob}",
            "--arg-alignment-identity ${params.deeparg_arg_alignment_identity}",
            "--arg-alignment-evalue ${params.deeparg_arg_alignment_evalue}",
            "--arg-alignment-overlap ${params.deeparg_arg_alignment_overlap}",
            "--arg-num-alignments-per-entry ${params.deeparg_arg_num_alignments_per_entry}",
            "--model-version ${params.deeparg_model_version}"
        ].join(' ').trim()
    }

    withName: DEEPARG_CONTIGS {
        ext.args = [
            "--min-prob ${params.deeparg_min_prob}",
            "--arg-alignment-identity ${params.deeparg_arg_alignment_identity}",
            "--arg-alignment-evalue ${params.deeparg_arg_alignment_evalue}",
            "--arg-alignment-overlap ${params.deeparg_arg_alignment_overlap}",
            "--arg-num-alignments-per-entry ${params.deeparg_arg_num_alignments_per_entry}",
            "--model-version ${params.deeparg_model_version}"
        ].join(' ').trim()
    }
}
